.srMaxWidth{
	max-width: 750px;
	padding-right: 5px;
	padding-left: 5px;
}

.srSearchBar{
	padding-top: 5px;
	padding-bottom: 5px;
}

.fontForFieldTitle{
	font-size: 11px;
	font-weight: bold;
}

.fontForFieldValue{
	font-size: 12px;
}

.searchCell{
	border: 1px solid #B2B2B2;
	padding: 3px;
}

.navbar-brand {
  line-height:12px;
  padding-top:20px;
  padding-bottom:5px;
  font-size:12px;
}

.downColor1{background-color: #FFE6E6;}
.downColor2{background-color: #FFB2B2;}
.downColor3{background-color: #FF8080;}
.downColor4{background-color: #FF4D4D;}
.downColor5{background-color: #FF1919;}
.downColor6{background-color: #E60000;}
.downColor7{background-color: #B20000;}

body {
    background-color: #b0c4de;
}
